{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Fecha de Inicio</td>
            <td>Fecha Finalizacion</td>
            <td>Estado</td>
        </tr>
    </thead>
    <tbody>
        {% if proyectos %}
            {% for proyecto in proyectos %}
                <tr>
                    <td>{{ proyecto.id_proyectos }}</td>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.descripcion }}</td>
                    <td>{{ proyecto.fechaInicio }}</td>
                    <td>{{ proyecto.fechaFin }}</td>
                    <td>{{ proyecto.estado }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <h1> No hay proyectos en la base de datos</h1>
        {% endif %}
    </tbody>
</table>

{% endblock %}