{% extends "base.html" %}

{% block content %}

<div class="container">
        <h4 style="text-align: center">Crear Sprint</h4>
        <script>
            function submit(){
                document.getElementById("form").submit()
            }
        </script>
        <form action="" method="post" id="form">
            {% csrf_token %}
            <p><div>
                <label style="color: black" for="numero">Número del Sprint:</label>
                <input type="number" id="numero" name="numero" required>
            </div></p>
            <p><div>
                <label for="fecha_inicio">Fecha de Inicio:</label>
                <input type="date" id="fecha_inicio" name="fecha_inicio" required>
            </div></p>
            <p><div>
                <label for="fecha_fin">Fecha de Fin:</label>
                <input type=date id="fecha_fin" name="fecha_fin" required>
            </div></p>
            <p><div>
                <label style="color: black" for="duracion">Duración del Sprint:</label>
                <input type="number" id="duracion" name="duracion" required>
            </div></p>
            <p><div>
                <label class="select" for="estado">Estado del Sprint:</label>
                  <select id="estado" name="estado" required="required">
                    <option value="" disabled="disabled" selected="selected">Seleccionar Estado</option>
                      {% for estado in estados %}
                        <option value="{{ estado.0 }}"> {{ estado.1 }} </option>
                      {% endfor %}
                  </select>
            </div></p>
            <button type="submit" onclick="submit()" class="btn-small blue darken-3 right">Guardar
             <i class="material-icons left">add_circle</i></button>
        </form>
</section>
	</div>
{% endblock %}