{% load static %}

        <style>
        .ListaProyectos h6 {
            font-weight: bold;
        }

        .btn {
            gap: 20px;
        }
        </style>

<div class="container">
  <div class="row">
        <div class="col-12 text-center">
            {% if perms.proyectos.crear_proyecto %}
                <form action="/proyectos/crear/">
                        <button type="submit"  class="btn btn-dark">
                            Crear Proyecto
                        </button>
                </form>
            {% endif %}
        </div>

        <div class="col-12 text-center">
            {% if perms.proyectos.crear_proyecto %}
                <form action="/proyectos/crear/">
                        <button type="submit"  class="btn btn-dark">
                            Listar todos los proyectos.
                        </button>
                </form>
            {% endif %}
        </div>
        <div class="col-12 text-center">
            {% if perms.proyectos.crear_proyecto %}
                <form action="/proyectos/crear/">
                        <button type="submit"  class="btn btn-dark">
                            Administrar Usuarios.
                        </button>
                </form>
            {% endif %}
        </div>
  </div>
</div>


